@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500italic);

html {
text-align: center;
}

header p .header {
	width: 1200px
	height: 40px;
	background: white;
}

h1 {
float: left;
position: relative;
margin: 1em;

}

#nav li {

		display: inline-block;
		padding: 10px;
		margin-right: 40px;
		font-size: 20px;
		font-weight: 700;
		float: both;
		color: #3575DE;
		text-transform: uppercase;
}

/*#nav_x li {*/
	float: left;
	font-family: inherit, helvetica, sans-serif;
	text-align: inline;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;
}


hr {
	border: none;
	height: 4px; 
	background-color: white;
	width: 960px;
	margin: 1em auto;
}

img {
	width: 300px;
	height: 450px;
}

h1 {
	text-transform: 800;
}



p {
text-align: center;
clear: both;
}

/*classes*/

#slogan {
font-style: italic;
}


#wrapper {

background-color: white§§
width: 960px;
margin: 0 auto;
}

#nav {
	font-family: 'Roboto', sans-serif; 
	text-align: inline;
	/*position: absolute;*/
}

.icons {
	height:300px;	
	width:300px;
}

.icons_1 {
	
	height:400px;	
	width:500px;

}

